def cislo(p):
    return p.isdigit()

while True:
    n = input("zadaj cele cislo:")

    if cislo(n):
        n = int(n)
        if n%2==0:
            for a in range(n, 1, -2):
                for x in range(a, n, +2):
                    print(" ", end="")
                for i in range(0, a):
                    print("*", end="")
                print()
            for a in range(4, n+2, +2):
                for x in range(a, n, +2):
                    print(" ", end="")
                for i in range(0, a):
                    print("*", end="")
                print()

        elif n%2==1:
            for a in range(n, 0, -2):
                for x in range(a, n, +2):
                    print(" ", end="")
                for i in range(0, a):
                    print("*", end="")
                print()
            for a in range(3, n+2, +2):
                for x in range(a, n, +2):
                    print(" ", end="")
                for i in range(0, a):
                    print("*", end="")
                print()
        break

    else:
        print("skus to znova!")
